{% extends 'base.html' %}

{% block main %}

<div class="container col-11 mt-5 pt-5">
    <h1>{{ title }}</h1>
</div>

<div class="container col-11 small">
    <p>En la presente Política de Cookies encontrarás la
        descripción y finalidad de cada una de las cookies utilizadas,
        así como su nombre el servidor de envío, su caducidad y en
        algunos casos la existencia de transferencia internacional de
        datos.</p>

    <p class="fs-3 text-center text-muted">. . .</p>
</div>



{% endblock %}
