{% extends 'base.html' %}

{% block main %}


<div class="container col-11 mt-5 pt-5">
    <h1>{{ title }}</h1>
</div>

<div class="container col-11 small">
    <p>Lea cuidadosamente el presente Aviso Legal.</p>
    <p>El presente documento regula el acceso, navegación y
        utilización del sitio web ubicado en la URL
        https://www.....com (en adelante, el “Sitio Web”). El
        acceso, navegación y utilización del Sitio Web implican la
        aceptación expresa y sin reservas de todos los términos del
        presente Aviso Legal, teniendo la misma validez y eficacia que
        cualquier contrato celebrado por escrito y firmado. Su
        observancia y cumplimiento serán exigibles respecto de cualquier
        persona que acceda, navegue o utilice el Sitio Web. Si el usuario
        no está de acuerdo con los términos expuestos, no debe acceder,
        navegar o utilizar el mismo.</p>

    <p class="fs-3 text-center text-muted">. . .</p>

</div>

{% endblock %}
