{% extends 'base.html' %}

{% block main %}

<div class="container col-11 mt-5 pt-5">
	<h1>{{ title }}</h1>
</div>

<div class="container col-11 small">
	<p>
		En <strong></strong> nos tomamos muy en serio tu privacidad y por
		eso tratamos con el más estricto cuidado tus datos personales, que
		podrás controlar en todo caso. En cumplimiento de lo dispuesto en
		la normativa aplicable de protección de datos personales ponemos a
		tu disposición la siguiente Política de Privacidad:
	</p>
	<p class="fs-3 text-center text-muted">. . .</p>
</div>

	{% endblock %}
